<!DOCTYPE html>
<html>
<head>
    <title>Tentang Saya | Django Website</title>
</head>
<body>
    <h1>Tentang Saya</h1>
    <h2>Maulana Aji Wicaksono</h2>
    <p>Halaman About Me berada di Apps About</p>
    <p>{% lorem 1 b random %}</p>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog/">Blog</a></li>
        <ul>
            <li><a href="/blog/recent">Recent Post</a></li>
        </ul>
        <li><a href="/about/">About</a></li>
        <ul>
            <li><a href="/about/about_me">About Me</a></li>
        </ul>
    </ul>
</body>
</html>
