<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{halaman}} - {{website}}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li>
                <ul>
                    <li><a href="/blog/jurnal">Jurnal</a></li>
                    <li><a href="/blog/berita">Berita</a></li>
                    <li><a href="/blog/gosip">Gosip</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="container">
        <article>
            {% for article in Articles %}
            <h1>{{article.title}}</h1>
            <h5>{{article.category}} - {{article.timePost}}</h5>
            <p>{{article.body}}</p>
            <br>
            {% endfor %}
        </article>
    </div>
</body>
</html>
